.education-container {
    
    font-family: 'poppins';
    width: 80vw;
    padding-top: 50px;
    padding-bottom: 70px;
    padding-left: 50px;
    padding-right: 50px;
    height: 80vh;
    display: flex;
    background-color: #71b1ec;
    margin-top: -40px;
    clip-path: polygon(0% 0%, 100% 30%, 100% 100%, 0 70%);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    align-items: center;
    justify-content: center;

}

.image-holder {
    width: 20vw;
    margin-right: 5vw;
}

.education-container img {
    border-radius: 5px;
    width: inherit;
    -webkit-box-shadow: 2px 6px 15px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 2px 6px 15px 0px rgba(0, 0, 0, 0.75);
}

.edu-btn {
    float: right;
    background-color: #ffffff;
    font-size: 20px;
    color: #5694ce;
    border-radius: 20px;
}

.text-holder {
    color: #ffffff;
}

.text-holder h2 {
    font-size: 40px;
    font-weight: bold;
}

.text-holder p {
    font-size: 18px;
}
.edu-wrap{
    position: relative;
}
.edu-title{
    position: absolute;
    top: 50px; 
    right: 50px;
    height: fit-content;
      
}
.edu-title h2{
    font-family: 'poppins';
    font-size: 40px; 
}

@media (max-width: 700px){
    .edu-title{
        right: 0;
        top: 0;
        font-size: 16px;
        margin-top: 0;
    }
    .education-container{
        clip-path: polygon(0% 0%, 100% 15%, 100% 100%, 0 85%);
        padding-top: 20vh;
        padding-bottom: 18vh;
        width: inherit;
        margin-right: 0;
        height: fit-content;
        flex-direction: column;
    }
    .education-container p{
        width: 90vw;
    }
    .image-holder{
        width: 90vw;
        margin: 5vw;
    }
    .text-holder p{
        width: 90vw;
        padding: 0;
        margin-top: 30px;
    }
}