body{
    font-family: 'Poppins';
    overflow: hidden;
}
header{
    width: 100vw;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 90px;
    box-shadow: none;
    transition: all .5s;
    z-index: 5;

}

header img{
    height: 50px;
}

.links{
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
}

.link{
    text-decoration: none;
    color: #fff;
    
}

h2{
    font-size: 30px;
}
.image-full-screen{
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: relative;
    /* background-color: aquamarine; */
}
.image-full-screen:after{
    position: absolute;
    content: "ehehheh";
    top: 20px;
    height: 100vh;
    width: 100vw;
    background-color: red;
}
.image-full-screen img{
    height: inherit;
    width: inherit;
}
.get-started{
    display: none !important;
    position: absolute;
    top: 65%;
    left: 30%;
    padding: 0 20px;
    border-radius: 15px;
    height: 100px;
    border: 2px solid #011D34;
    background-color: #011d344d;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: capitalize;
}

.get-started h2{
    margin: 0;
    font-size: 20px;
    color: #fff;
}

.ar-branding{
    display: flex;
    padding-left: 90px;
    padding-top: 50px;
    justify-content: space-between;
    margin-bottom: 100px;
}
.ar-branding .branding-image{
    width: 35%;
    background-color: red;
}
.branding-image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.ar-branding .branding-text{
    padding-top: 30px;
    width: 60%;
}
.branding-text h2{
    font-size: 30px;
}
.branding-text p{
    font-size: 16px;
    font-weight: 100;
}

.ar-video{
    padding: 0 90px;
    margin-bottom: 70px;
}
.ar-video p{
    text-align: center;
    font-size: 30px;
    color: #BEB6B6;
}
.ar-video h2{
    text-align: center;
    font-size: 30px;
}
.ar-video .video-holder{
    height: 70vh;
    /* background-color: brown; */
    width: 100%;
}
.ar-video .video-holder img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.vision{
    height: 40vh;
    color: #fff;
    padding: 90px;
    background-color: #333333;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.case-study{
    margin: 50px 0 100px 0;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.case-study p{
    text-align: center;
    font-size: 30px;
    color: #BEB6B6;
}
.case-study h2{
    text-align: center;
}

.case-study .cards{
    margin-top: 50px;
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.cards .card{
    margin-top: 30px;
    width: 40%;
    min-height: 30vh;
    /* background-color: chartreuse; */
}
.card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.contact p{
    text-align: center;
    font-size: 30px;
    color: #BEB6B6;
}
.contact .social-icons{
    display: flex;
    justify-content: center;
    align-items: center;
}
.social-icons .social{
    height: 40px;
    width: 40px;
    margin: 0 50px;
    cursor: pointer;
    border-radius: 15px;
}
.social img{
    height: inherit;
    width: inherit;
}

.footer{
    box-sizing: border-box;
    height: 40vh;
    width: 100%;
    background-color: #011D35;
    display: flex;
    justify-content: space-between;
    padding: 50px 50px;
    margin-top: 100px;
}
.footer .contact-info{
    width: 40%;
    margin-bottom: 100px;
}
.footer .footer-vision{
    width: 40%;
    margin-bottom: 100px;
}
.footer h2{
    font-size: 30px;
    font-weight: 300;
    color: #ffffff;
}
.footer p{
    font-size: 18px;
    font-weight: 100;
    color: #C1BDBD;
}
.burger-menu{
    background-color: unset;
    border: none;
    display: none;
}
.burger-menu:focus{
    outline: none;
}
.mobile-links{
    display: none;
}

@media(max-width: 500px){
    .burger-menu{
        display: block;
    }
    .burger-menu img{
        width: 55px;
    }
    #link{
        display: none;
    }
    .mobile-links{
        width: 100vw;
        position: fixed;
        height: 100vh;
        z-index: 20;
        top: 0;
        right: 0;
        background-color: #011D35;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20vh 50px;
        transform: translateY(-100vh);
        transition: all .5s ease-in-out;
    }
    .mobile-links a{
        width: 100%;
        font-size: 25px;
        margin-bottom: 40px;
    }
    .mobile-links .close{
        position: absolute;
        top: 5vh;
        right: 30px;
        font-size: 40px;
        color: #ffffff70; 
    }
    header{
        padding: 15px 20px
    }
    .get-started{
        height: 15vh;
    }
    .ar-branding{
        flex-direction: column-reverse;
        padding: 0;
    }
    .ar-branding .branding-image{
        width: 100%;
    }
    .ar-branding .branding-text{
        width: 100%;
        padding-left: 20px;
        padding-right: 20px;
    }
    .ar-video{
        padding: 0 20px;
    }
    .ar-video .video-holder{
        height: 30vh;
    }
    .vision{
        padding: 20px;
    }
    .vision h2{
        font-size: 20px;
    }
    .case-study .cards{
        width: 100%;
        flex-direction: column;
        padding: 0 10px;
    }
    .cards .card{
        width: 100%;
    }
    .social-icons .social{
        margin: 0 20px;
        width: 40px;
    }
    .footer{
        height: fit-content;
        padding: 30px 10px;
        flex-direction: column;
    }
    .footer .contact-info{
        width: 100%;
        margin-bottom: 20px;
    }
    .footer .footer-vision{
        width: 100%;
        margin-bottom: 20px;
    }
    .footer h2{
        font-size: 25px;
    }
}