body{
    font-family: 'Poppins';
    overflow: hidden;
}
header{
    width: 100vw;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 90px;
    box-shadow: none;
    transition: all .5s;

}

header img{
    height: 50px;
}

.links{
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
}

.link{
    text-decoration: none;
    
}

h2{
    font-size: 25px;
}
.image-full-screen{
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    /* background-color: aquamarine; */
}
.image-full-screen img{
    height: inherit;
    width: inherit;
}
.get-started{
    height: 20vh;
    background-color: #011D34;
    display: flex;
    justify-content: center;
    align-items: center;
}
.get-started h2{
    margin: 0;
    font-style: 80px;
    color: #fff;
}

.ar-branding{
    display: flex;
    padding-left: 90px;
    padding-top: 50px;
    justify-content: space-between;
    margin-bottom: 100px;
}
.ar-branding .branding-image{
    width: 35%;
    background-color: red;
}
.branding-image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.ar-branding .branding-text{
    padding-top: 30px;
    width: 60%;
}
.branding-text h2{
    font-size: 40px;
}
.branding-text p{
    font-size: 20px;
    font-weight: 100;
}

.ar-video{
    padding: 0 90px;
    margin-bottom: 70px;
}
.ar-video p{
    text-align: center;
    font-size: 30px;
    color: #BEB6B6;
}
.ar-video h2{
    text-align: center;
    font-size: 40px;
}
.ar-video .video-holder{
    min-height: 70vh;
    /* background-color: brown; */
    width: 100%;
}
.ar-video .video-holder img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.vision{
    height: 40vh;
    color: #fff;
    padding: 90px;
    background-color: #333333;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.case-study{
    margin: 50px 0 100px 0;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.case-study p{
    text-align: center;
    font-size: 30px;
    color: #BEB6B6;
}
.case-study h2{
    text-align: center;
}

.case-study .cards{
    margin-top: 50px;
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.cards .card{
    margin-top: 30px;
    width: 40%;
    min-height: 30vh;
    background-color: chartreuse;
}

.contact p{
    text-align: center;
    font-size: 30px;
    color: #BEB6B6;
}
.contact .social-icons{
    display: flex;
    justify-content: center;
    align-items: center;
}
.social-icons .social{
    height: 50px;
    width: 50px;
    margin: 0 50px;
    cursor: pointer;
}
.social img{
    height: inherit;
    width: inherit;
}

.footer{
    box-sizing: border-box;
    height: 40vh;
    width: 100%;
    background-color: #011D35;
    display: flex;
    justify-content: space-between;
    padding: 50px 50px;
    margin-top: 100px;
}
.footer .contact-info{
    width: 40%;
    margin-bottom: 100px;
}
.footer .footer-vision{
    width: 40%;
    margin-bottom: 100px;
}
.footer h2{
    font-size: 30px;
    font-weight: 300;
    color: #C1BDBD;
}
.footer p{
    font-size: 18px;
    font-weight: 100;
    color: #C1BDBD;
}